<template>
    <div>
        <img alt="Vue logo" src=".././assets/logo.png">
        <h1>{{msg}}</h1>
        <h3>Project: {{prj.project}}</h3>
        <h3>Project Name: {{prj.name}}</h3>
        <div>Counter</div>
        <div>Counter value is: {{getCounter}}</div>
        <div>{{getCounterMsg}}</div>
        <div><button v-on:click="sendToParent">Send counter value to Parent</button></div>
    </div>
</template>
<script>
export default {
    name: "Demo",
    props: {
        msg: String,
        prj: {
            project: String,
            name: String
        }
    },
    methods: {
        sendToParent(){
            this.$emit('countValueChild',this.counter);
        }
    },
    data(){
        return {
            counter: 0,
            counterMsg: 'Counter is running!'
        }
    },
    created(){
        setInterval(() => {
            this.counter++;}, 1000)
    },
    watch: {
        counter: function(){
            if(this.counter>20){
                this.counter=0;
            }
            else if(this.counter==0){
                this.counterMsg="Counter is reset!";
            }
            else{
                this.counterMsg="Counter is running!";
            }
        }
    },
    computed: {
        getCounter(){
            // console.log(this.counter);
            return this.counter;
        },
        getCounterMsg(){
            // console.log(this.counterMsg);
            return this.counterMsg;
        }
    }

}
</script>
<style scoped>
 div{
     margin: 10px 0px;
 }
 button{
     padding: 10px;
     background-color: #78c2b5;
     font-size: 15px;
 }
</style>