<template>
  <div id="app">
    <h4>{{countMsg}}</h4>
    <Demo msg="Hi! I'm from parent component." v-bind:prj="prj" @countValueChild="countValueReceive"/>
  </div>
</template>

<script>
import Demo from './components/Demo'

export default {
  name: 'App',
  components: {
    Demo
  },
  data(){
    return {
      prj: {
        project: "Vue Project",
        name: "Basic Vue"
      },
      countMsg: "No value received from child to parent!"
    }
  },
  methods: {
    countValueReceive(countValue){
        this.countMsg="Counter value recived from child! Count = "+countValue;
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
